# Merge all csv file

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
data=pd.read_csv('final_accu')
print(data.shape)
data.head(2)

(23896, 6)

,customer_no,acct_type,cur_balance_amt,amt_past_due,creditlimit,cashlimit
0,1,121,4714857,2538209.0,670000.0,168000.0
1,2,20,30754,0.0,1000000.0,1.0

In [26]:
df=pd.read_csv('final_enqu')
print(df.shape)
df.head(2)

(23896, 3)

   customer_no  enq_amt_x     enq_amt_y
0            1         18  4.981150e+06
1            2         68  6.676682e+09

In [27]:
final_data=pd.merge(df,data,on='customer_no',how='inner')

In [28]:
final_data.head()

,customer_no,enq_amt_x,enq_amt_y,acct_type,cur_balance_amt,amt_past_due,creditlimit,cashlimit
0,1,18,4.981150e+06,121,4714857,2538209.0,670000.0,168000.0
1,2,68,6.676682e+09,20,30754,0.0,1000000.0,1.0
2,3,1,3.400000e+06,10,17864,0.0,0.0,0.0
3,4,34,5.081000e+07,257,1845569,0.0,956000.0,361000.0
4,5,2,2.000000e+03,62,7973,0.0,0.0,0.0

In [29]:
df1=pd.read_csv('final_demo')
print(df1.shape)
df1.head(2)

(23896, 44)

,customer_no,feature_1,feature_4,feature_5,feature_6,feature_7,feature_11,feature_19,feature_23,feature_25,...,feature_65,feature_67,feature_68,feature_69,feature_71,feature_72,feature_76,feature_78,feature_79,Bad_label
0,1,Insignia,2.0,Card Setup,14.0,500000.0,Y,1.0,N,1.0,...,15.0,0.0,2.0,90000.0,21.0,R,0.0,1.0,N,0
1,2,Insignia,1.0,Card Setup,14.0,1200000.0,Y,1.0,N,1.0,...,12.0,0.0,2.0,1.0,17.0,R,0.0,1.0,N,0

In [30]:
final1=pd.merge(final_data,df1,on='customer_no',how='inner')

In [31]:
print(final1.shape)
final1.head()

(23896, 51)

,customer_no,enq_amt_x,enq_amt_y,acct_type,cur_balance_amt,amt_past_due,creditlimit,cashlimit,feature_1,feature_4,...,feature_65,feature_67,feature_68,feature_69,feature_71,feature_72,feature_76,feature_78,feature_79,Bad_label
0,1,18,4.981150e+06,121,4714857,2538209.0,670000.0,168000.0,Insignia,2.0,...,15.0,0.0,2.0,90000.0,21.0,R,0.0,1.0,N,0
1,2,68,6.676682e+09,20,30754,0.0,1000000.0,1.0,Insignia,1.0,...,12.0,0.0,2.0,1.0,17.0,R,0.0,1.0,N,0
2,3,1,3.400000e+06,10,17864,0.0,0.0,0.0,Insignia,1.0,...,12.0,0.0,2.0,1.0,17.0,R,0.0,1.0,N,0
3,4,34,5.081000e+07,257,1845569,0.0,956000.0,361000.0,Insignia,1.0,...,16.0,0.0,2.0,100000.0,21.0,R,1.0,1.0,N,0
4,5,2,2.000000e+03,62,7973,0.0,0.0,0.0,Insignia,3.0,...,3.0,0.0,2.0,300000.0,13.0,R,0.0,1.0,N,0

In [32]:
final1.duplicated().sum()

0

In [33]:
final1.isnull().sum()

customer_no            0
enq_amt_x              0
enq_amt_y              0
acct_type              0
cur_balance_amt        0
amt_past_due           0
creditlimit            0
cashlimit              0
feature_1             15
feature_4             15
feature_5             15
feature_6             15
feature_7             15
feature_11            15
feature_19            15
feature_23            15
feature_25            15
feature_26            15
feature_27          3637
feature_29            15
feature_30            15
feature_31            15
feature_32            15
feature_33            15
feature_34            15
feature_35            15
feature_36          5682
feature_37          5682
feature_40            15
feature_41            15
feature_42            15
feature_44            15
feature_46            94
feature_48         18399
feature_55            15
feature_56            15
feature_58            15
feature_59            15
feature_60            15
feature_62            15
feature_64            15
feature_65            15
feature_67            15
feature_68            15
feature_69            15
feature_71            15
feature_72            15
feature_76            15
feature_78            15
feature_79            15
Bad_label              0
dtype: int64

In [34]:
final1.replace(['?','$','',' ','   ','*'],np.nan,inplace=True)

In [39]:
final1.loc[:,['feature_36','feature_37','feature_48','feature_46']]=final1.loc[:,['feature_36','feature_37','feature_48','feature_46']].replace(np.nan,'others')

In [40]:
final1.shape

(23896, 51)

In [41]:
final1.isnull().sum()

customer_no           0
enq_amt_x             0
enq_amt_y             0
acct_type             0
cur_balance_amt       0
amt_past_due          0
creditlimit           0
cashlimit             0
feature_1            15
feature_4            15
feature_5            15
feature_6            15
feature_7            15
feature_11           15
feature_19           15
feature_23           15
feature_25           15
feature_26           15
feature_27         3637
feature_29           15
feature_30           15
feature_31           15
feature_32           15
feature_33           15
feature_34           15
feature_35           15
feature_36            0
feature_37            0
feature_40           15
feature_41           15
feature_42           15
feature_44           15
feature_46            0
feature_48            0
feature_55           15
feature_56           15
feature_58           15
feature_59           15
feature_60           15
feature_62           15
feature_64           15
feature_65           15
feature_67           15
feature_68           15
feature_69           15
feature_71           15
feature_72           15
feature_76           15
feature_78           15
feature_79           15
Bad_label             0
dtype: int64

In [44]:
from collections import Counter
Counter(final1.Bad_label)

Counter({0: 22892, 1: 1004})

In [45]:
final1.duplicated().sum()

0

In [48]:
final1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23896 entries, 0 to 23895
Data columns (total 51 columns):
customer_no        23896 non-null int64
enq_amt_x          23896 non-null int64
enq_amt_y          23896 non-null float64
acct_type          23896 non-null int64
cur_balance_amt    23896 non-null int64
amt_past_due       23896 non-null float64
creditlimit        23896 non-null float64
cashlimit          23896 non-null float64
feature_1          23881 non-null object
feature_4          23881 non-null float64
feature_5          23881 non-null object
feature_6          23881 non-null float64
feature_7          23881 non-null float64
feature_11         23881 non-null object
feature_19         23881 non-null float64
feature_23         23881 non-null object
feature_25         23881 non-null float64
feature_26         23881 non-null float64
feature_27         20259 non-null object
feature_29         23881 non-null float64
feature_30         23881 non-null float64
feature_31         23881 non-null float64
feature_32         23881 non-null object
feature_33         23881 non-null object
feature_34         23881 non-null float64
feature_35         23881 non-null float64
feature_36         23896 non-null object
feature_37         23896 non-null object
feature_40         23881 non-null float64
feature_41         23881 non-null float64
feature_42         23881 non-null float64
feature_44         23881 non-null float64
feature_46         23896 non-null object
feature_48         23896 non-null object
feature_55         23881 non-null float64
feature_56         23881 non-null float64
feature_58         23881 non-null object
feature_59         23881 non-null object
feature_60         23881 non-null object
feature_62         23881 non-null object
feature_64         23881 non-null float64
feature_65         23881 non-null float64
feature_67         23881 non-null float64
feature_68         23881 non-null float64
feature_69         23881 non-null float64
feature_71         23881 non-null float64
feature_72         23881 non-null object
feature_76         23881 non-null float64
feature_78         23881 non-null float64
feature_79         23881 non-null object
Bad_label          23896 non-null int64
dtypes: float64(29), int64(5), object(17)
memory usage: 9.5+ MB

In [49]:
from collections import Counter
Counter(final1.feature_36)

Counter({'others': 5682,
         'Government Organisation': 642,
         'Public Ltd Co.': 5665,
         'Proprietorship': 1669,
         'Private Ltd. Co.': 8677,
         'MNC': 1511,
         'Partnership': 6,
         'PSU': 21,
         'Partnership Co.': 22,
         'Others': 1})

In [51]:
final1.drop_duplicates(inplace=True)
final1.shape

(23896, 51)

In [53]:
final1.dropna(inplace=True)
final1.shape

(20259, 51)

In [54]:
final1.isnull().sum()

customer_no        0
enq_amt_x          0
enq_amt_y          0
acct_type          0
cur_balance_amt    0
amt_past_due       0
creditlimit        0
cashlimit          0
feature_1          0
feature_4          0
feature_5          0
feature_6          0
feature_7          0
feature_11         0
feature_19         0
feature_23         0
feature_25         0
feature_26         0
feature_27         0
feature_29         0
feature_30         0
feature_31         0
feature_32         0
feature_33         0
feature_34         0
feature_35         0
feature_36         0
feature_37         0
feature_40         0
feature_41         0
feature_42         0
feature_44         0
feature_46         0
feature_48         0
feature_55         0
feature_56         0
feature_58         0
feature_59         0
feature_60         0
feature_62         0
feature_64         0
feature_65         0
feature_67         0
feature_68         0
feature_69         0
feature_71         0
feature_72         0
feature_76         0
feature_78         0
feature_79         0
Bad_label          0
dtype: int64

In [57]:
final1.to_csv('final_data',index=False)