In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data=pd.read_csv('final_data')
print(data.shape)
data.head()

(20259, 51)

,customer_no,enq_amt_x,enq_amt_y,acct_type,cur_balance_amt,amt_past_due,creditlimit,cashlimit,feature_1,feature_4,...,feature_65,feature_67,feature_68,feature_69,feature_71,feature_72,feature_76,feature_78,feature_79,Bad_label
0,48,117,96311029.0,283,8828370,0.0,2364000.0,528600.0,Insignia,3.0,...,157.0,0.0,1.0,1.0,10.0,R,0.0,1.0,N,0
1,51,97,293483609.0,435,60699235,0.0,1009000.0,77300.0,Insignia,3.0,...,15.0,0.0,2.0,1.0,21.0,R,0.0,1.0,N,0
2,52,8,22451000.0,70,16715,0.0,613000.0,368000.0,Insignia,1.0,...,58.0,0.0,2.0,1.0,35.0,R,0.0,1.0,N,0
3,55,4,116000.0,20,11638,0.0,260000.0,0.0,Insignia,1.0,...,157.0,0.0,1.0,1.0,10.0,O,0.0,1.0,N,0
4,56,9,262001.0,43,225760,0.0,40000.0,8000.0,Platinum Maxima,3.0,...,15.0,0.0,1.0,44040.0,21.0,R,0.0,1.0,N,0

In [3]:
data.isnull().sum()

customer_no        0
enq_amt_x          0
enq_amt_y          0
acct_type          0
cur_balance_amt    0
amt_past_due       0
creditlimit        0
cashlimit          0
feature_1          0
feature_4          0
feature_5          0
feature_6          0
feature_7          0
feature_11         0
feature_19         0
feature_23         0
feature_25         0
feature_26         0
feature_27         0
feature_29         0
feature_30         0
feature_31         0
feature_32         0
feature_33         0
feature_34         0
feature_35         0
feature_36         0
feature_37         0
feature_40         0
feature_41         0
feature_42         0
feature_44         0
feature_46         0
feature_48         0
feature_55         0
feature_56         0
feature_58         0
feature_59         0
feature_60         0
feature_62         0
feature_64         0
feature_65         0
feature_67         0
feature_68         0
feature_69         0
feature_71         0
feature_72         0
feature_76         0
feature_78         0
feature_79         0
Bad_label          0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20259 entries, 0 to 20258
Data columns (total 51 columns):
customer_no        20259 non-null int64
enq_amt_x          20259 non-null int64
enq_amt_y          20259 non-null float64
acct_type          20259 non-null int64
cur_balance_amt    20259 non-null int64
amt_past_due       20259 non-null float64
creditlimit        20259 non-null float64
cashlimit          20259 non-null float64
feature_1          20259 non-null object
feature_4          20259 non-null float64
feature_5          20259 non-null object
feature_6          20259 non-null float64
feature_7          20259 non-null float64
feature_11         20259 non-null object
feature_19         20259 non-null float64
feature_23         20259 non-null object
feature_25         20259 non-null float64
feature_26         20259 non-null float64
feature_27         20259 non-null object
feature_29         20259 non-null float64
feature_30         20259 non-null float64
feature_31         20259 non-null float64
feature_32         20259 non-null object
feature_33         20259 non-null object
feature_34         20259 non-null float64
feature_35         20259 non-null float64
feature_36         20259 non-null object
feature_37         20259 non-null object
feature_40         20259 non-null float64
feature_41         20259 non-null float64
feature_42         20259 non-null float64
feature_44         20259 non-null float64
feature_46         20259 non-null object
feature_48         20259 non-null object
feature_55         20259 non-null float64
feature_56         20259 non-null float64
feature_58         20259 non-null object
feature_59         20259 non-null object
feature_60         20259 non-null object
feature_62         20259 non-null object
feature_64         20259 non-null float64
feature_65         20259 non-null float64
feature_67         20259 non-null float64
feature_68         20259 non-null float64
feature_69         20259 non-null float64
feature_71         20259 non-null float64
feature_72         20259 non-null object
feature_76         20259 non-null float64
feature_78         20259 non-null float64
feature_79         20259 non-null object
Bad_label          20259 non-null int64
dtypes: float64(29), int64(5), object(17)
memory usage: 7.9+ MB

In [5]:
data.duplicated().sum()

0

In [6]:
from sklearn.preprocessing import LabelEncoder
la=LabelEncoder()

In [7]:
df=['feature_1','feature_5','feature_11','feature_23','feature_27','feature_32','feature_33',
   'feature_36','feature_37','feature_46','feature_48','feature_58','feature_59','feature_60',
   'feature_62','feature_72','feature_79']
for i in df:
    data[[i]]=la.fit_transform(data[[i]])

C:\Users\SHADAB\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
data.head()

,customer_no,enq_amt_x,enq_amt_y,acct_type,cur_balance_amt,amt_past_due,creditlimit,cashlimit,feature_1,feature_4,...,feature_65,feature_67,feature_68,feature_69,feature_71,feature_72,feature_76,feature_78,feature_79,Bad_label
0,48,117,96311029.0,283,8828370,0.0,2364000.0,528600.0,1,3.0,...,157.0,0.0,1.0,1.0,10.0,1,0.0,1.0,0,0
1,51,97,293483609.0,435,60699235,0.0,1009000.0,77300.0,1,3.0,...,15.0,0.0,2.0,1.0,21.0,1,0.0,1.0,0,0
2,52,8,22451000.0,70,16715,0.0,613000.0,368000.0,1,1.0,...,58.0,0.0,2.0,1.0,35.0,1,0.0,1.0,0,0
3,55,4,116000.0,20,11638,0.0,260000.0,0.0,1,1.0,...,157.0,0.0,1.0,1.0,10.0,0,0.0,1.0,0,0
4,56,9,262001.0,43,225760,0.0,40000.0,8000.0,4,3.0,...,15.0,0.0,1.0,44040.0,21.0,1,0.0,1.0,0,0

In [9]:
from collections import Counter
Counter(data.Bad_label)

Counter({0: 19391, 1: 868})

In [10]:
x=data.iloc[:,:-1]
y=data.Bad_label

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [12]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=52,
                            max_depth=5,
                            max_features=9,
                            random_state=12)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

0.9554129647910496
[[5807    0]
 [ 271    0]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      5807
           1       0.00      0.00      0.00       271

   micro avg       0.96      0.96      0.96      6078
   macro avg       0.48      0.50      0.49      6078
weighted avg       0.91      0.96      0.93      6078

C:\Users\SHADAB\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [14]:
from xgboost import XGBClassifier
model=XGBClassifier()
model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [15]:
y_pred=model.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

0.9554129647910496
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      5807
           1       0.00      0.00      0.00       271

   micro avg       0.96      0.96      0.96      6078
   macro avg       0.48      0.50      0.49      6078
weighted avg       0.91      0.96      0.93      6078

[[5807    0]
 [ 271    0]]